<div id="background-image">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout">
          Logout
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
        <input type="text" val="" class="member-id" style="visibility: hidden">
      </div>
    </div>

    <div class="row card">
      <div class="col-md-8 offset-md-2">
        <div class="task-container">
          <h1>Tasks</h1>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Current Tasks</th>
                <th>Points for task</th>
                <th>complete task</th>
              </tr>
            </thead>
            <tbody>
              <tr id="form-row">
                <form id="task-form">
                  <td colspan="4">
                  </td>
                </form>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



    <div class="row mt-5 align-items-start justify-content-between">
      <div class="col-5-sm card">
        <div class="card-body">
          <h3>Add a New user</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr id="form-row">
                <form id="author-form">
                  <td colspan="5">
                    <input placeholder="Enter a name" id="user-name" type="text" />
                  </td>
                  <td><button type="submit" id="create-user" class="btn btn-success">Create User</button>
                  </td>
                </form>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-7-sm">
        <div class=" card ml-4" style="width: 30rem;">
          <div class="card-body">
            <form id="cms">
              <div class="form-group">
          
                <label for="Task">Task:</label>
                <textarea placeholder="Task Body" class="form-control" rows="3" id="task-body"></textarea>
                
                <label for="title">Points:</label>
                <input placeholder="How many points is this task worth" type="text" class="form-control" id="points">
                <br />
                <div class="form-group">
                  <label for="category">Select User:</label>
                  <select class="custom-select" id="user">
                  <option class="option-select"></option>
                  </select>
                </div>
                <br />
                <button id="submit-task" type="submit" class="btn btn-success submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>