.list-group-item {
  line-height: 2.5;
}
#home {
  height: 100%;
  min-height: 100vh;
  padding-top: 4rem;
  background-image: url("../images/background-2.jpg");
  background-position: center;
  background-size: cover;
}
.jumbotron {
background: rgba(223, 222, 222, 0.7); 
}

#background-image{
  height: 100%;
  min-height: 100vh;
  background-image: url("../images/background-project.png");
  background-position: center;
  background-size: cover;
}